---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Pipeline from "../components/Pipeline.astro";
import Platforms from "../components/Platforms.astro";
import LiveCompare from "../components/LiveCompare.astro";
import Performance from "../components/Performance.astro";
import RenderMethod from "../components/RenderMethod.astro";
import Features from "../components/Features.astro";
import Usage from "../components/Usage.astro";
import Comparison from "../components/Comparison.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <span id="top"></span>
  <Nav />
  <main>
    <Hero />
    <Pipeline />
    <Platforms />
    <LiveCompare />
    <Performance />
    <RenderMethod />
    <Features />
    <Usage />
    <Comparison />
    <CTA />
  </main>
  <Footer />
</Base>
